body, html {
    margin: 0;
    padding: 0;
    height: 100%;

}
  /* .animated-background {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #3498db, #e74c3c, #f39c12, #9b59b6);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
   */

.image-container {
    display: inline-block;
    margin-right: 10px;
    overflow : visible;
     /* Adjust the margin as needed */
}

#snow-container {  
    height: 100vh;
    position: absolute;
    top: 0;
    transition: opacity 500ms;
    width: 100%;
    overflow: visible;
    z-index: 0;
    pointer-events: none;
}

.snow {
    animation: fall ease-in infinite, sway ease-in-out infinite;
    color: skyblue;
    position: absolute;
    overflow: visible;
}

@keyframes fall {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.75;
    }
    100% {
      top: 100vh;
      opacity: 1;
    }
  }

@keyframes sway {
    0% {
      margin-left: 0;
    }
    25% {
      margin-left: 50px;
    }
    50% {
      margin-left: -50px;
    }
    75% {
      margin-left: 50px;
    }
    100% {
      margin-left: 0;
    }
  }

.text{
    color : #FFDDCC;
    align-items: center;
    text-align: center;
}

#main{
    color : #D9ACF5
}

h2[draggable] {
    color :#FFCEFE;
    font-family: Helvetica,sans-serif;
    height : 200;
    width : 200
}

p {
    font-size : 15px
}

h3[value="1"]{
    color : #FDEBED;
    font-family : "Times New Roman", serif;
    text-align: center;
    font-weight : 900;
}

/* 1em 100% of parent size
1rem 100% of root size */